.container {
  display: flex;
  background-color: #a5a5a5;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.stutorial {
  background: url(/images/tutorial.png);
  width: 1280px;
  height: 720px;
  background-size: contain;
  background-repeat: no-repeat;
}
.etutorial {
  background: url(/images/etutorial.png);
  width: 1280px;
  height: 720px;
  background-size: contain;
  background-repeat: no-repeat;
}
.backAction {
  position: absolute;
  right: 15%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.backAction span {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: aliceblue;
}
.changeLanguage {
  position: absolute;
  right: 15%;
  top: 10%;
  cursor: pointer;
  font-size: 32px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
