.mainContainer{
    height: 100vh;
    width: 100%;
    background: #A5A5A5;
    display: flex;
    color: aliceblue;
}
.leftContainer{
    width: 60%;
    height: 100%;
    background: url(/images/background.jpg);
    background-size: cover;
}
.sponsor{
    opacity: 30%;
}
.rightContainer{
    width: 40%;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.rightContainer h1{
    font-family: 'Magistral Honesty';
    font-size: 72px;
    line-height: 80px;
    margin-bottom: 32px;
    margin-top: 16px;
}
.rightContainer h3{
    font-family: 'Quicksand';
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    text-transform: uppercase;
}
.rightContainer h4{
    font-family: 'Quicksand';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
}
.rightContainer h2{
    font-family: 'Quicksand';
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin: 0;
}
.mainActions{
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rectDec1{
    position: absolute;
    width: 79px;
    height: 133px;
    background-color: #fff;
    top: 0;
    left: -40px;
}
.rectDec2{
    position: absolute;
    width: 44px;
    height: 159px;
    background-color: #fff;
    right: 0;
}
.rectDec3{
    position: absolute;
    width: 79px;
    height: 218px;
    bottom: 0;
    left: -40px;
    background-color: #fff;
}